<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html>
  <!--<![endif]-->

  <!-- Mirrored from theme.express/sparks/sparks1/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Apr 2023 09:34:39 GMT -->
  <head>

    <!-- Meta -->
    <meta charset='utf-8' />
    <meta name='keywords' content='HTML5 Template' />
    <meta
      name='description'
      content='BlackFyre - Innovative products at your finger time'
    />
    <meta name='author' content='' />

    <title>BlackFyre - Innovative products at your finger time</title>

    <!-- Mobile Metas -->
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <!-- Favicons -->
    <link rel='shortcut icon' href='../../img/favicon.html' />
    <link rel='apple-touch-icon' href='../../img/apple-touch-icon.html' />
    <link
      rel='apple-touch-icon'
      sizes='72x72'
      href='../../img/apple-touch-icon-72x72.html'
    />
    <link
      rel='apple-touch-icon'
      sizes='114x114'
      href='../../img/apple-touch-icon-114x114.html'
    />
    <link
      rel='apple-touch-icon'
      sizes='144x144'
      href='../../img/apple-touch-icon-144x144.html'
    />

    <!-- Google Webfonts -->
    <link
      href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900'
      rel='stylesheet'
      type='text/css'
    />
    <link
      href='https://fonts.googleapis.com/css?family=Droid+Serif:400italic'
      rel='stylesheet'
      type='text/css'
    />

    <!-- CSS -->
    <link rel='stylesheet' href='../../css/bootstrap.css' />
    <link rel='stylesheet' href='../../font-awesome/css/font-awesome.min.css' />
    <link rel='stylesheet' href='../../css/style.css' />
    <link rel='stylesheet' href='../../js/owl-carousel/owl.carousel.css' />
    <link rel='stylesheet' href='../../js/owl-carousel/owl.theme.css' />
    <link rel='stylesheet' href='../../css/flexslider.css' />

    <!--[if IE 8]>
		<link rel="stylesheet" type="text/css" href="../../css/ie8.css" media="screen" />
	<![endif]-->

    <!-- Add custom CSS here -->
    <link href='../../css/custom.css' rel='stylesheet' />

    <!--[if lt IE 9]>
      	<script src="./js/html5shiv.js"></script>
	      <script src="./js/respond.js"></script>
	<![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new
      Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78054766-1', 'auto'); ga('send', 'pageview');

    </script>
  </head>
  <body>

    <div class='body'>

      <!-- Top Content -->
      <div class='intro'>
        <!-- Header -->
        <nav class='navbar navbar-default navbar-top header' role='navigation'>
          <div class='container'>
            <div class='navbar-header'>
              <a class='navbar-brand logo' href='index.html'><i
                  class='fa fa-book'
                ></i>
                BlackFyre</a>
            </div>
            <ul class='header-nav'>
              <li><a><i class='fa fa-phone'></i> +977 9822783899</a></li>
              <li><a href='mailto: info@BlackFyre.com'><i
                    class='fa fa-envelope-o'
                  ></i>
                  <span class='__cf_email__'>info@BlackFyre.com</span></a></li>
              {{! <li class="purchase"><a href="https://theme.express/" target="_blank"><i class="fa fa-download"></i> Purchase</a></li> }}
            </ul>
          </div>
        </nav>
        <!-- Header -->
        <div class='container'>
          <div class='row top-wrap'>
            <div class='col-lg-7'>
              <div id='main-slider' class='flexslider'>
                <ul class='slides'>
                  <li><img src='../../demo/slide/1.png' alt='' /></li>
                  <li><img src='../../demo/slide/2.png' alt='' /></li>
                </ul>
              </div>
            </div>
            <div class='col-lg-5'>
              <div class='order-wrap'>
                <h2><i class='fa fa-shopping-cart'></i> Setup QR</h2>
                <form class='apply-form form-group' method='post'>
                  {{! <div class="row">
								<div class="col-lg-6">
									<input type="text" name="secret_key" class="form-control" placeholder="Your Secret Key" required="required">
								</div>
								<div class="col-lg-6">
									<input type="text" name="redirect_url" class="form-control" placeholder="Redirect Url" required="required">
								</div>
							</div> }}
                  <input
                    type='text'
                    name='secret_key'
                    class='form-control'
                    placeholder='Your Secret Key'
                    required='required'
                  />
                  <input
                    type='url'
                    name='redirect_url'
                    class='form-control'
                    placeholder='Redirect Url'
                    required='required'
                  />
                  {{! <select name="booklist" class="form-control" >
								<option value="No&nbsp;book&nbsp;Selected">Select a book</option>
								<option value="Wordpress&nbsp;installation&nbsp;ebook">Wordpress installation ebook</option>
								<option value="Learn&nbsp;to&nbsp;be&nbsp;a&nbsp;rockstart">Learn to be a rockstart</option>
								<option value="Some&nbsp;ebook&nbsp;name">Some ebook name</option>
							</select>
							<textarea rows="2" name="message" class="form-control" placeholder="Question? If any.."></textarea> }}
                  <div class='form-btn'>
                    <button
                      type='submit'
                      class='btn1 btn-center'
                      href='#'
                    >Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- Top Content -->

      <!-- Services -->
      <div id='services' class='services'>
        <!-- Welcome Content -->
        <div class='text-center welcome'>
          <div class='container'>
            <div class='row'>
              <div class='col-lg-12'>
                <div class='icon-center'><i class='fa fa-book'></i></div>
                <h2>Design &amp; Concept</h2>
                <div class='line'></div>
              </div>
            </div>
          </div>
        </div>
        <!-- Welcome Content -->

        <!-- Services Content -->
        <div class='container'>
          <div class='row'>
            <!-- Service - 1 -->
            <div class='col-lg-3 text-center'>
              <div class='service-item'>
                <i class='service-icon fa fa-desktop'></i>
                <h4>Good Designs</h4>
                <p>A wide range of innovative and genuine designs</p>
              </div>
            </div>
            <!-- Service - 2 -->
            <div class='col-lg-3 text-center'>
              <div class='service-item'>
                <i class='service-icon fa fa-rocket'></i>
                <h4>Quick Delivery</h4>
                <p>Delivery timeframe is typically 3-4 working days</p>
              </div>
            </div>
            <!-- Service - 3 -->
            <div class='col-lg-3 text-center'>
              <div class='service-item'>
                <i class='service-icon fa fa-code'></i>
                <h4>QR Code</h4>
                <p>Scannable QR Code with customization options</p>
              </div>
            </div>
            <!-- Service - 4 -->
            <div class='col-lg-3 text-center'>
              <div class='service-item'>
                <i class='service-icon fa fa-users'></i>
                <h4>Good Materials</h4>
                <p>Raw materials from reliable sources and good quality</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Services Content -->
      </div>
      <!-- Services -->

      <!-- Author Content -->
      {{! <div class='author-content'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-6'>
              <img class='img-responsive' src='../../demo/2.png' alt='' />
            </div>
            <div class='col-lg-6'>
              <h2>Hi, visitor</h2>
              <p class='lead'>My Name is Rastrika Shakya. I am the author of this
                book. Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Vestibulum tortor quam,
                feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu
                libero sit amet quam egestas semper. Aenean ultricies mi vitae
                est. Mauris placerat eleifend leo.</p>
              <h3>You can follow me on</h3>
              <ul class='list-unstyled list-inline list-social-icons'>
                <li class='tooltip-social facebook-link'><a
                    href='#facebook-profile'
                    data-toggle='tooltip'
                    data-placement='top'
                    title='Facebook'
                  ><i class='fa fa-facebook'></i></a></li>
                <li class='tooltip-social linkedin-link'><a
                    href='#linkedin-profile'
                    data-toggle='tooltip'
                    data-placement='top'
                    title='LinkedIn'
                  ><i class='fa fa-linkedin'></i></a></li>
                <li class='tooltip-social twitter-link'><a
                    href='#twitter-profile'
                    data-toggle='tooltip'
                    data-placement='top'
                    title='Twitter'
                  ><i class='fa fa-twitter'></i></a></li>
                <li class='tooltip-social google-plus-link'><a
                    href='#google-plus-profile'
                    data-toggle='tooltip'
                    data-placement='top'
                    title='Google+'
                  ><i class='fa fa-google-plus'></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div> }}
      <!-- Author Content -->

      <!-- Info Content -->
      {{! <div class='info-content'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-7'>
              <img class='img-responsive' src='../../demo/1.jpg' alt='' />
            </div>
            <div class='col-lg-5'>
              <h2>Ebook all devices<br />compatible</h2>
              <p class='lead'>Lorem ipsum dolor sit amet elit. Donec ac
                facilisis ante. Praesent gravida tempus suscipit. Praesent vel
                sem id ligula malesuada vehicula at id orci. In sem quam, semper
                id fringilla sed, sodales a ante. Ut molestie a lorem in luctus.</p>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div> }}
      <!-- Info Content -->

      <!-- Testimonials content -->
      {{! <div class='section'>
        <div class='container quote-main'>
          <div class='row'>
            <div class='col-lg-12 text-center'>
              <div class='icon-center'><i class='fa fa-quote-left'></i></div>
              <h2>What our readers say ?</h2>
              <br />
            </div>
            <!-- Carousel -->
            <div id='owl-example' class='owl-carousel'>
              <div class='item col-lg-12'>
                <div class='mb-wrap blockquote-style'>
                  <div class='mb-thumb1'></div>
                  <blockquote cite='#'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Etiam dapibus pellen tesque justo.</p>
                  </blockquote>
                  <div class='mb-attribution'>
                    <p class='mb-author'>Sherry Taylor</p>
                    <cite>Xyz , Founder</cite>
                  </div>
                </div>
              </div>
              <div class='item col-lg-12'>
                <div class='mb-wrap blockquote-style'>
                  <div class='mb-thumb2'></div>
                  <blockquote cite='#'>
                    <p>Integer auctor, purus a mattis aliquet, augue ligula
                      tincidunt elit, vitae lacinia lacus massa at nibh.</p>
                  </blockquote>
                  <div class='mb-attribution'>
                    <p class='mb-author'>Michael Smith</p>
                    <cite>Abc , Manager</cite>
                  </div>
                </div>
              </div>
              <div class='item col-lg-12'>
                <div class='mb-wrap blockquote-style'>
                  <div class='mb-thumb3'></div>
                  <blockquote cite='#'>
                    <p>Sed vehicula, ipsum sed tristique blandit, sapien neque
                      porta diam, vel fermentum neque nulla ut risus.</p>
                  </blockquote>
                  <div class='mb-attribution'>
                    <p class='mb-author'>Sandra Doe</p>
                    <cite>Def , Novelist</cite>
                  </div>
                </div>
              </div>
              <div class='item col-lg-12'>
                <div class='mb-wrap blockquote-style'>
                  <div class='mb-thumb4'></div>
                  <blockquote cite='#'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Etiam dapibus pellen tesque dignissim.</p>
                  </blockquote>
                  <div class='mb-attribution'>
                    <p class='mb-author'>Danny Taylor</p>
                    <cite>Xyz , Founder</cite>
                  </div>
                </div>
              </div>
              <div class='item col-lg-12'>
                <div class='mb-wrap blockquote-style'>
                  <div class='mb-thumb5'></div>
                  <blockquote cite='#'>
                    <p>Integer auctor, purus a mattis aliquet, augue ligula
                      tincidunt elit, vitae lacinia lacus massa at nibh.</p>
                  </blockquote>
                  <div class='mb-attribution'>
                    <p class='mb-author'>David Smith</p>
                    <cite>Abc , Manager</cite>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container -->
        </div>
      </div> }}
      <!-- Testimonials content -->

      <!-- Pricing Content -->
      {{! <div class='pricing'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-12 text-center'>
              <div class='icon-center'><i
                  class='fa fa-shopping-cart'
                  style='color:#fff;border-color:#fff;'
                ></i></div>
              <h2 style='color:#fff;'>Plans & pricing</h2>
              <br />
              <br />
            </div>
          </div>
          <div class='row'>
            <!-- Pricing Plan - 1 -->
            <div class='col-sm-4'>
              <div class='panel panel-default text-center'>
                <div class='panel-heading'>
                  <strong>Ebook version</strong>
                </div>
                <div class='panel-body'>
                  <h3 class='panel-title price'>$9<span
                      class='price-cents'
                    >99</span></h3>
                </div>
                <ul class='list-group'>
                  <li class='list-group-item'>5 Projects</li>
                  <li class='list-group-item'>5 GB of Storage</li>
                  <li class='list-group-item'>Up to 100 Users</li>
                  <li class='list-group-item'>10 GB Bandwidth</li>
                  <li class='list-group-item'>Security Suite</li>
                  <li class='list-group-item'><a
                      class='btn2 btn-center'
                      href='#'
                    >Order Now!</a></li>
                </ul>
              </div>
            </div>
            <!-- Pricing Plan - 3 -->
            <div class='col-sm-4'>
              <div class='panel panel-default text-center'>
                <div class='panel-heading'>
                  <strong>Printed
                    <span class='label label-success'>Best Value!</span></strong>
                </div>
                <div class='panel-body'>
                  <h3 class='panel-title price'>$29<span
                      class='price-cents'
                    >99</span></h3>
                </div>
                <ul class='list-group'>
                  <li class='list-group-item'>Unlimited</li>
                  <li class='list-group-item'>50 GB of Storage</li>
                  <li class='list-group-item'>Up to 1000 Users</li>
                  <li class='list-group-item'>100 GB Bandwidth</li>
                  <li class='list-group-item'>Security Suite</li>
                  <li class='list-group-item'><a
                      class='btn2 btn-center'
                      href='#'
                    >Order Now!</a></li>
                </ul>
              </div>
            </div>
            <!-- Pricing Plan - 4 -->
            <div class='col-sm-4'>
              <div class='panel panel-default text-center'>
                <div class='panel-heading'>
                  <strong>Epub version</strong>
                </div>
                <div class='panel-body'>
                  <h3 class='panel-title price'>$4<span
                      class='price-cents'
                    >99</span></h3>
                </div>
                <ul class='list-group'>
                  <li class='list-group-item'>Unlimited</li>
                  <li class='list-group-item'>150 GB of Storage</li>
                  <li class='list-group-item'>Unlimited</li>
                  <li class='list-group-item'>500 GB Bandwidth</li>
                  <li class='list-group-item'>Security Suite</li>
                  <li class='list-group-item'><a
                      class='btn2 btn-center'
                      href='#'
                    >Order Now!</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div> }}
      <!-- Pricing Content -->

      <!-- Newsletter -->
      <div class='newsletter'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-6'>
              <h3>Subscribe and get exciting news.</h3>
            </div>
            <div class='col-lg-6'>
              <form
                class='newsletter-form'
                action='https://theme.express/sparks/sparks1/php/subscribe.php'
                id='invite'
                method='POST'
              >
                <input
                  type='text'
                  placeholder='Email Address'
                  name='email'
                  id='address'
                  data-validate='validate(required, email)'
                />
                <button type='submit' class='btn btn3'><i
                    class='fa fa-envelope-o'
                  ></i>
                  Join</button>
                <span id='result'></span>
              </form>

            </div>
          </div>
        </div>
      </div>
      <!-- Newsletter -->

      <!-- Faq Content -->
      <div class='faq-content'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-12 text-center'>
              <div class='icon-center'><i class='fa fa-info'></i></div>
              <h2>Frequently asked questions</h2>
              <br />
            </div>
            <div class='faq-wrap'>
              <div class='col-lg-6'>
                <div class='panel-group' id='accordion'>
                  <div class='panel panel-default'>
                    <div class='panel-heading'>
                      <h4 class='panel-title'>
                        <a
                          data-toggle='collapse'
                          data-parent='#accordion'
                          href='#collapseOne'
                        >
                          <i class='fa fa-comments-o'></i>
                          1. How to reset my qr code?
                        </a>
                      </h4>
                    </div>
                    <div id='collapseOne' class='panel-collapse collapse in'>
                      <div class='panel-body'>
                        To reset your QR code, transfer Rs. 20 to esewa with
                        your secret key and mobile number for verification, and
                        we will reset your QR code after verifying the code and
                        mobile number.
                      </div>
                    </div>
                  </div>
                  <div class='panel panel-default'>
                    <div class='panel-heading'>
                      <h4 class='panel-title'>
                        <a
                          data-toggle='collapse'
                          data-parent='#accordion'
                          href='#collapseTwo'
                        >
                          <i class='fa fa-comments-o'></i>
                          2. How to set my qr code?
                        </a>
                      </h4>
                    </div>
                    <div id='collapseTwo' class='panel-collapse collapse'>
                      <div class='panel-body'>
                        Scan the provided QR code, and fill out the setup form
                        with the secret key provided to you.
                      </div>
                    </div>
                  </div>
                  <div class='panel panel-default'>
                    <div class='panel-heading'>
                      <h4 class='panel-title'>
                        <a
                          data-toggle='collapse'
                          data-parent='#accordion'
                          href='#collapseThree'
                        >
                          <i class='fa fa-comments-o'></i>
                          3. Where can I buy BlackFyre products ?
                        </a>
                      </h4>
                    </div>
                    <div id='collapseThree' class='panel-collapse collapse'>
                      <div class='panel-body'>
                        You can go to daraz online and find our product list
                        there.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class='col-lg-6 video-wrap'>
                <div class='video'>
                  <iframe
                    frameborder='0'
                    height='300'
                    src='https://player.vimeo.com/video/25708134?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff&amp;autoplay=0'
                    width='500'
                  ></iframe>
                </div>
              </div>
              <div class='clear'></div>
            </div>
            <!-- Faq wrap content end -->
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- Faq Content -->

      <!-- Clients content -->
      {{! <div class='container clients'>
        <div class='row'>
          <div class='col-lg-12 text-center'>
            <div class='icon-center'><i class='fa fa-users'></i></div>
            <h2>Our Awesome Partners</h2>
            <br />
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/1.png'
                alt=''
              /></a>
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/2.png'
                alt=''
              /></a>
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/3.png'
                alt=''
              /></a>
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/4.png'
                alt=''
              /></a>
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/5.png'
                alt=''
              /></a>
          </div>
          <div class='col-md-2 col-sm-4 col-xs-6'>
            <a href='#'><img
                class='img-responsive img-client'
                src='../../demo/clients/6.png'
                alt=''
              /></a>
          </div>
        </div>
      </div> }}
      <!-- Clients content -->

      <!-- Contact info -->
      <div class='cinfo'>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-12'>
              <ul class='contact-info'>
                <li><i class='fa fa-phone'></i>
                  +977 9822783899
                  <br />+977 9866429659</li>
                <li><i class='fa fa-envelope-o'></i>
                  <a href='mailto: info@BlackFyre.com'>info@BlackFyre.com</a>
                  <br /><a
                    href='mailto: info@BlackFyre.com'
                  >customercare@BlackFyre.com</a></li>
                <li><i class='fa fa-map-marker'></i>
                  BlackFyre Nepal
                  <br />
                  Lalitpur, Nepal</li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.container -->
      </div>
      <!-- Contact info -->

      <!-- Footer Content -->
      {{! <footer>
        <div class='container'>
          <div class='row'>
            <div class='col-lg-12'>
              <ul class='list-inline cinfo-social-buttons pull-center'>
                <li><a href='#' class='btn btn-default btn-lg'><i
                      class='fa fa-twitter fa-fw'
                    ></i></a></li>
                <li><a href='#' class='btn btn-default btn-lg'><i
                      class='fa fa-dribbble fa-fw'
                    ></i></a></li>
                <li><a href='#' class='btn btn-default btn-lg'><i
                      class='fa fa-linkedin fa-fw'
                    ></i></a></li>
              </ul>
              <p class='copyright text-center medium'>Copyright &copy;
                <a href='https://theme.express/'>Sparks</a>
                2016. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </footer> }}
      <!-- Footer Content -->
    </div>

    <!-- JavaScript -->
    <script
      data-cfasync='false'
      src='https://theme.express/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js'
    ></script><script src='../../js/jquery.js'></script>
    <script src='../../js/bootstrap.js'></script>
    <script src='../../js/owl-carousel/owl.carousel.js'></script>
    <script src='../../js/jquery.easing.1.3.js'></script>
    <script src='../../js/jquery.flexslider.js'></script>
    <script src='../../js/jquery.html5-placeholder-shim.js'></script>
    <script src='../../js/contact.js'></script>
    <script src='../../js/jquery.ketchup.all.min.js'></script>
    <script src='../../js/main.js'></script>

  </body>

  <!-- Mirrored from theme.express/sparks/sparks1/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 20 Apr 2023 09:35:11 GMT -->
</html>